@import "~sass-rem/rem";

// ---------------- colors
// palette
$black: #000;
$white: #fff;
$light-ashen: #9B9B9B;
$ashen: #4B5959;
$light-gray: #F3F3F3;
$gray: #7D8888;
$dark-gray: #848E8E;
$deep-dark-gray: rgba(0, 0, 0, 0.700776);
$green: #417505;
$dark-green: rgba(19, 35, 47, 0.9);
$red: #ea3232;

// main colors
$primary-text-color: $black;
$secondary-text-color: $ashen;
$tertiary-text-color: $dark-gray;
$quaternary-text-color: $gray;

$primary-background: $white;
$secondary-background: $light-gray;
$tertiary-background: $dark-gray;
$quaternary-background: $dark-green;

$alert: $red;


// ---------------- fonts
$primary-font: 'Roboto', Helvetica, Arial, sans-serif;


// ---------------- font sizes
// text
$primary-font-size: rem(15px);
$secondary-font-size: rem(13px);
$tertiary-font-size: rem(17px);
$primary-font-line-height: 1.15;
$secondary-font-line-height: 1.6;

// titles
$h1-font-size: rem(21px);
$h2-font-size: rem(19px);
$h3-font-size: $tertiary-font-size;


// ---------------- different sizes
$primary-border-radius: rem(4px);
$primary-border-color: $gray;

// colors by use
$search-tooltip: $deep-dark-gray;
$additional-text-color: $green;
$input-placeholder: $light-ashen;
$input-border: $gray;

