@import "~sass-rem/rem";
@import 'src/assets/styles/base/variables';

$common-indent: 3.5%;

.list-chosen-books {
  transition: all .5s ease-out;
  list-style: none;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media (max-width: $desktop-medium) {
    max-height: 550px;
    min-height: 550px;
    overflow-y: auto;
  }

  @media (max-width: $tablet) {
    margin-top: rem(45px);
  }

  /deep/ li {
    padding-bottom: $common-indent;
    border-bottom: 1px solid $secondary-border-color;

    &:not(:first-child) {
      padding-top: $common-indent;
    }
  }

  /deep/ .list-element {
    display: flex;
    cursor: pointer;

    &__cover {
      margin-right: $common-indent;

      @media (max-width: $desktop-medium) {
        margin-right: 0;
      }
    }

    &__main-info {
      padding-top: rem(2.5px);
    }

    .app-rating {
      margin-bottom: rem(8px);
    }
  }

  &--loading {
    filter: blur(3px);
    opacity: .5;
  }
}
