@import "~sass-rem/rem";
@import 'src/assets/styles/base/variables';

.wrapper-main {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 5%;
  min-height: rem(900px);

  @media (max-width: $desktop-medium) {
    padding: 2%;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: rem(47px);

    .button-favorites {
      margin-right: rem(12px);
    }

    .container-search {
      flex: 1;
    }
  }

  /deep/ .app-pagination {
    margin-top: auto;
  }

  /deep/ &__loader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /deep/ .app-button--fetch-more {
    align-self: center;
    margin-top: auto;
  }
}
