@import "~sass-rem/rem";
@import 'src/assets/styles/base/variables';

.search-page {
  position: relative;
  min-height: 100vh;
  padding: 0 15px;

  @media (max-width: $desktop-medium) {
    padding: 0;
  }

  &--center-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &--indent-pos {
    margin: 0 auto;
    padding-top: 15px;
  }

  &__wrapper {
    display: flex;
    max-width: rem(1280px);
    width: 100%;
    min-height: rem(900px);
    background-color: $secondary-background;

    @media (max-width: $desktop-medium) {
      padding: 0;
      min-height: 100vh;
    }

    &--no-content {
      height: 100vh;
    }
  }

  &__mobile-global-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
