@import "~sass-rem/rem";
@import 'src/assets/styles/base/variables';

.book-info {
  position: relative;
  padding: 5%;
  transition: all .5s ease-out;
   min-height: rem(900px);

  @media (max-width: $desktop-medium) {
    padding: 2%;
  }

  @media (max-width: $tablet) {
    padding-top: 8%;
  }

  @media (max-width: $mobile) {
    padding: 0;
  }

  &--loading {
    filter: blur(3px);
    opacity: .5;
  }

  &__init-title {
    position: absolute;
    bottom: rem(252px);
    right: rem(32px);
    font-weight: 900;
    text-transform: uppercase;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: rem(51px);

    @media (max-width: $desktop-medium) {
      flex-direction: column;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    padding-top: rem(10px);

    @media (max-width: $desktop-medium) {
      width: 100%;
      margin-left: 0;
    }

    /deep/ .app-title {
      margin-bottom: rem(16px);
      line-height: 26px;
    }

    /deep/ .book-rating {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: rem(38px);

      /deep/ .app-rating {
        margin: rem(1px 14px 0 0);
      }
    }

    /deep/ &-extra {
      margin-bottom: rem(16px);
    }
  }

  &__buttons-row {
    display: flex;
    align-items: center;
    opacity: .4;
    cursor: pointer;
    transition: all .5s ease-out;

    &:hover {
      opacity: 1;
    }

    /deep/ .app-button {
      margin-right: rem(10px);
    }
  }

  /deep/ &__redirect {
    text-decoration: underline;

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: inherit;
      }
    }
  }

  &__in-favorite {
    display: flex;
    align-items: center;

    /deep/ .app-text {
      margin-left: rem(10px);
    }
  }

  /deep/ .book-excerpt {
    .app-title {
      margin-bottom: rem(16px);
    }
  }

  /deep/ .book-cover {
    @media (max-width: $mobile) {
      width: 100%;
      margin-bottom: rem(20px);

      img {
        width: 100%;
        height: auto;
      }
    }

    img {
      box-shadow: 0 14px 21px rgba(0, 0, 0, 0.397532);
    }
  }
}
