@import 'src/assets/styles/base/variables';
@import "~sass-rem/rem";

.list-search-tips {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: rem(16px 12px 20px 16px);
  list-style: none;
  border: 1px solid $primary-border-color;
  border-radius: 0 0 $primary-border-radius $primary-border-radius;
  border-top: 1px solid #E0E4E7;
  background-color: $primary-background;

  li {
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: rem(20px);

      @media (max-width: $tablet) {
        margin-bottom: rem(10px);
      }
    }

    &:hover {
      font-weight: bold;
    }
  }
}
