@import "~sass-rem/rem";
@import 'src/assets/styles/base/variables';

.button-favorites {
  @include rem(box-shadow, 0px 16px 17px rgba(0, 0, 0, 0.201427));
  width: 44px;
  height: 44px;
  border: 1px solid $primary-border-color;
  border-radius: $primary-border-radius;
}
